
{% extends "index_working.html" %}
{% block content %}
			<div class="about">
				<div >
					<h1>About</h1>

					<p>Find emerging markets for athletes/sports using twitter data. <br>
					<br>For 180 countries Tweete-lete recommends the top 5 athletes in that particular country.
				 </p>
				 <div class=figure style="width:100%">
	 					<img style="width:100%" src="/static/pages/pica.png" alt="pic 1" >
	 					<figcaption>Flow-Chart.</figcaption>
	 			</div>
					<h3> Data </h3>
					<ol>
						<li> Twitter API tweepy used to get 14 GB of data. </li>
						<li> The athlete names, their sport, country and gender, were scraped from ESPN. </li>
					</ol>

					<h3> Sentiment Mining </h3>
					<p> The tweet <i>text</i> is  given a polarity from -1 to 1, with anything above 0 positive, below 0 negative, and everything else is neutral.</p>
					<ol>
					<li> A <i> Naive Bayes </i>[1] analysis is used for classification on an <i>n-gram model</i>[2] of the text. </li>
					<li> TextBlob library was used. The classification is reported to have an accuracy of 0.8.</li>
					<li>Some examples of the classification: </li> <br>
					<ol color: #FFF>
								<li> <b>Positive: </b> 11 years ago today, Kobe Bryant absolutely destroyed Steve Nash. </li>
								<li> <b>Negative: </b> They might've been worse than Iverson 2001 Sixers team...</li>
								<li> <b>Neutral: </b> Remember when Serena williams beat sharapova and a Nigerian paper's headline the next day was "Sharap it's ova"</li>
						</ol>
					</ol>
					<h3> Recommender Engine </h3>
					<ol>
						<li>  <i>Collaborative Filter </i> is used predict the most-loved players. </li>
						<li> Countries form the customer base </li>
						<li> Athletes form the products </li>
						<li> The sentiment score is used as the rating </li>
					</ol>
{% endblock %}
