
{% extends "index_working.html" %}
{% block content %}
        <div>
        <h2> World-wide Distribution of Twitter Activity in Relation to Different Sports </h2>
        <h3> Cricket </h3>
        <iframe width="100%" height="520" frameborder="0" src="/static/pages/mapcricket.html"></iframe>
        <h3> Soccer </h3>
        <iframe width="100%" height="520" frameborder="0" src="/static/pages/mapsoccer1.html"></iframe>
        </div>
        <h1> Distributuion of Sentiment Score/Athlete </h1>
        <iframe width="200%" height="500" frameborder="0" src="/static/pages/img.html"></iframe>

{% endblock %}
